/* 헤더 */
.header{
    width: 100%;
    padding: 10px;
    position: fixed;
}
.nav-title{}
.nav-menu{
    display: flex;
    float: right;
}
/* 메인 */
.main{

}
/* 섹션1 */
.section1-wrap{
    background-image: url();
    width: 100%;
}