/* 태그 이름을 통한 CSS 디자인 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
h1{font-size: 2rem; font-family: 'PyeongChangPeace-Bold';}
section{
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
}
body{
    font-family: 'NanumSquareNeo-Variable';
}
/* 클래스 이름을 통한 CSS 디자인 */
/* header의 nav */
.header{
    position: fixed;
    width: 100%;
    background-color: #2d3092d5;
/*    background: linear-gradient(black,#2d3192cc); */
    color: white;
}
.header>.nav{
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.header>.nav>.nav-menu{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.header>.nav>.nav-title{
    width: 150px;
    font-size: 1.5rem;
    text-align: center;
}
.header>.nav>.nav-menu a{
    text-decoration: none; 
    color: white;
    font-size: 1.4rem;
    font-family: 'NanumSquareNeo-Variable';

}


/* main */
/* section 규칙 부분은 위쪽에 뒀음 */
.main{
}
/* section 1 행사 이름 */
.section1-wrap{
    background-image: url(../img/festival.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 400px;
    height: 70vh;
}
.section1-wrap>.section1-title{
    color: white;
    text-align: right;
    padding: 250px 0 20px 20px;
}
.section1-title>h1{
    font-size: 3rem;
}
.section1-title>h3{
    font-size: 1.5rem;
    margin: 10px 0;
    font-family: 'NanumSquareNeo-Variable';
}


/* section 2 행사 설명 */
.section2-intro{
    padding: 50px 0;
    text-align: center;
    line-height: 150%;
}
.section2-intro>.intro-title, .section2-intro>.intro-title>h1{
    margin-bottom: 20px;
}
.section2-intro>.intro-title>h3{
    color:#2d3092;
}
.section2-intro>.intro-descript>table{
    margin: auto;
    margin-top: 30px;
    /*
    background-color: whitesmoke;
    color: black;
    border-radius: 20px 20px;
    */

}
.section2-intro>.intro-descript table tr td:first-child{
    color: #2d3092cc;
    border-right: #2d3092 2px solid;
    font-weight: bold;
}
.section2-intro>.intro-descript table tr td{
    padding: 8px 30px;
}

/* section 3 행사 이미지 */
.section3-wrap{}
.section3-wrap>.section3-gallery>.gallery-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.section3-gallery>.gallery-board{
    width: 280px;
    height: 350px;
    background-color: rgb(229, 220, 241);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin-left: 10px;
}
.section3-gallery>.gallery-board>h4{
    font-weight: bold;
}
.section3-gallery>.gallery-board:nth-child(2)>.image{
    margin: 15px;
    width: 250px;
    height: 250px;
    background-image: url(../img/festival.jpg);
    background-position: center;
    background-size: cover;
}
.section3-gallery>.gallery-board:nth-child(3)>.image{
    margin: 15px;
    width: 250px;
    height: 250px;
    background-image: url(../img/festival.jpg);
    background-position: center;
    background-size: cover;
}
.section3-gallery>.gallery-board:nth-child(4)>.image{
    margin: 15px;
    width: 250px;
    height: 250px;
    background-image: url(../img/festival.jpg);
    background-position: center;
    background-size: cover;
}
.section3-gallery>.gallery-title>a{
    background-color: #2d3092;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}


/* section 4 뉴스 */
.section4-news{
    padding: 50px 0;
    height: 350px;
}
.section4-news>h1{
}
.section4-news>table{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.section4-news>table tr td:first-child{
    color:#2d3092;
    font-weight: bolder;
    padding: 0 50px 0 0;
}
.section4-news>table tr td{
    padding: 10px 0px;
    border-top: 2px solid rgb(229, 220, 241);
    border-bottom: 2px solid rgb(229, 220, 241);
}

/* footer */
.footer{
    background-color: rgb(240, 240, 240);
}
.footer>.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer>.footer-content>.footer-info>p{
    float: left;
    padding-right: 50px;
    padding-bottom: 10px;
    color: dimgray;
    font-size: 0.8rem;
}
.footer>.footer-content>.footer-info>p:last-child{
    padding: 0;
    clear: both;
}

/* TOP 버튼 */
.top-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 60px;
    background-color: #2d3092;
    text-align: center;
    border-radius: 50%;
    padding-top: 40px;
}
.top-button>a{
    color: white;
    text-decoration: none;
}